
.input {
	padding: 12px 0;
	margin: 12px 14px 0;
	border: none;
	border-bottom: 2px solid var(--tg-theme-button-color);
	outline: none;
	background: transparent;
	font-size: inherit;
	color: inherit;
}
