:root {
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
				 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
				 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--tg-color-scheme: light;
	--tg-theme-bg-color: #ffffff;
	--tg-theme-secondary-bg-color: #f0f0f0;
	--tg-theme-text-color: #222222;
	--tg-theme-hint-color: #a8a8a8;
	--tg-theme-link-color: #2678b6;
	--tg-theme-button-color: #50a8eb;
	--tg-theme-button-text-color: #ffffff;
	--tg-viewport-height: 480.727px;
	--tg-viewport-stable-height: 480.727px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--tg-color-scheme: dark;
		--tg-theme-bg-color: #171717;
		--tg-theme-secondary-bg-color: #0a0a0a;
		--tg-theme-text-color: #ffffff;
		--tg-theme-hint-color: #7d7d7d;
		--tg-theme-link-color: #595959;
		--tg-theme-button-color: #5b5b5b;
		--tg-theme-button-text-color: #ffffff;
		--tg-viewport-height: 480.727px;
		--tg-viewport-stable-height: 480.727px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: var(--tg-color-scheme);
	}
}
